<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row" style="page-break-after: always;">
        <p>
            Olá, segue dados do novo contrato:
        </p>

        nome: <b>{{nome}}</b></br>
        Cargo: <b>{{cargo}}</b></br>
        data de admissão: <b>{{dataAdmissao}}</b></br>
        RG: <b>{{rg}}</b></br>
        CPF: <b>{{cpf}}</b></br>
        NÚMERO DO CELULAR: <b>{{numero}}</b></br>
        E-MAIL: <b>{{email}}</b></br>
        Sugestão de e-mail: <b>{{'sem dados'}}</b></br>
        Data Nascimento: <b>{{dataNascimento}}</b></br>
        Deseja retirar cadeira?: <b>{{'sem dados'}}</b></br>
        EMPRESA DE CADASTRO: <b>{{empresaNome}}</b></br>
        REGIME DE CONTRATAÇÃO: <b>{{tipoContrato}}</b></br>
        AREA: <b>{{area}}</b></br>
        CENTRO DE CUSTO: <b>{{centroCusto}}</b></br>
        MODELO DO EQUIPAMENTO: <b>{{'sem dados'}}</b></br>
        MOTIVO DA CONTRATAÇÃO: <b>{{'sem dados'}}</b></br>
        DATA PARA RETIRAR EQUIPAMENTOS: <b>{{'sem dados'}}</b></br>
        NÚMERO DO CARTÃO TICKET:  <b>{{'sem dados'}}</b></br>

    </div>
  </div>
</body>
</html>
