<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row" style="page-break-after: always;">
        <p>
            Olá, abaixo os dados para inclusão no plano de saúde:
        </p>

        nome: <b>{{nome}}</b><br>
        data de nascimento: <b>{{dataNascimento}}</b><br>
        RG: <b>{{rg}}</b><br>
        CPF: <b>{{cpf}}</b><br>
        nome da mãe: <b>{{mae}}</b><br>
        enviar os dependentes e dados se for opção colocar no plano: <b>{{nome}}</b><br>
        enviar a ficha de registro: <b>{{nome}}</b><br>
    </div>
  </div>
</body>
</html>
